body {
    background-image: url(/assets/images/workflow-login-background-3.png);
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: 69.3rem 99.2rem;
    background-color: #121212;
    color: #fff;
}

.sapphire_workflow--login {
    margin: 0 auto;
    max-width: 128rem;
}

.sapphire_workflow--login h1.page-heading {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sapphire_workflow--login h1.page-heading a {
    background-image: url(/assets/images/bose-logo-blackbox-.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 11.9rem 11.9rem;
    width: 11.9rem;
    height: 11.9rem;
}

.sapphire_workflow--login h1.page-heading span {
    display: none;
}

.sapphire_workflow--login h2.page-heading {
    margin: 0 auto 3.2rem;
    max-width: 44.8rem;
    font-family: GothamBold, serif;
    color: #f8f8f8;
    font-size: 4.4rem;
    line-height: 1.05;
    letter-spacing: 0.92rem;
    text-align: center;
    text-transform: uppercase;
}

.sapphire_workflow--login p.page-heading {
    margin: 0 auto 3.8rem;
    max-width: 44.8rem;
    color: #888888;
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: -0.02rem;
    text-align: center;
}

.sapphire_workflow--form {
    margin: 0 auto;
    max-width: 43.5rem;
}

.sapphire_workflow--form fieldset {
    border: 0;
}

.sapphire_workflow--form legend {
    display: none;
}

.sapphire_form--group {
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
}

.sapphire_form--group.form-check {
    flex-direction: row;
}

.sapphire_form--group label {
    padding-bottom: 0.8rem;
    font-family: GothamBold, sans-serif;
    font-size: 1.6rem;
    line-height: 1.25;
}

.sapphire_form--group input[type="text"],
.sapphire_form--group input[type="email"] {
    background-color: #f8f8f8;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid #f8f8f8;
    font-size: 1.6rem;
}

.sapphire_form--group input[type="checkbox"] {
    background-color: #181818;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid #fff;
}

.sapphire_form--group.form-submit {
    margin-top: 4.4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sapphire_form--group.form-submit button[type="submit"] {
    background-color: #f8f8f8;
    padding: 1.75rem 2.65rem;
    min-width: 19rem;
    border: 0;
    border-radius: 2.5rem;
    color: #242424;
    font-family: GothamBold, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    cursor: pointer;
}

.sapphire_form--group.form-gate {
    padding-bottom: 10rem;
    font-family: GothamBold, sans-serif;
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sapphire_form--group.form-gate span {
    margin-right: 0.8rem;
}

.sapphire_form--group.reset-message {
    font-size: 1.6rem;
    line-height: 1.44;
}

.sapphire_form--group.password-forgot {
    font-family: GothamBold, sans-serif;
    font-size: 1.6rem;
}
